/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  margin: 0;
  background-color: var(--background-color);
  inline-size: 100%;
  display: flex;
  flex-direction: column;
  background-image: var(--header-background);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.header {
  display: grid;
  position: relative;
  block-size: max(100vh, 500px);
}

.decorated-zone::before {
  position: absolute;
  content: '';
  inline-size: 25px;
  block-size: 25px;
  border-block-start: 1px solid var(--header-menu-color);
  border-inline-end: 1px solid var(--header-menu-color);
  right: 20px;
  top: 20px;
}

.decorated-zone::after {
  position: absolute;
  content: '';
  inline-size: 25px;
  block-size: 25px;
  border-block-end: 1px solid var(--header-menu-color);
  border-inline-start: 1px solid var(--header-menu-color);
  left: 20px;
  bottom: 20px;
}

.header__theme-menu-list {
  margin-block-start: 20px;
  margin-inline-start: 15px;
  display: flex;
  list-style: none;
  gap: 10px;
}

.header__theme-menu-button {
  font-family: 'IBM Plex mono', sans-serif;
  text-transform: lowercase;
  inline-size: 70px;
  block-size: 26px;
  font-size: 18px;
  line-height: 18px;
  font-weight: 400;
  text-align: center;
  color: var(--header-menu-color);
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--header-menu-color-transparent);
}

.header__theme-menu-button:focus-visible {
  text-decoration: underline;
  text-decoration-color: currentColor;
  outline: 0;
  text-underline-offset: 3px;
}


.header__theme-menu-button_active {
  outline: 1px solid var(--header-menu-color);
  pointer-events: none;
}

.big_text {
  margin: 0;
  font-family: 'IBM Plex Mono', sans-serif;
  font-weight: 700;
  text-align: left;
  text-shadow: 4px 4px 0 var(--accent-color);
  color: var(--title-text-color);
}

.title {
  overflow-wrap: break-word;
  justify-self: start;
  align-self: start;
  line-height: 0.85;
}

.header__description {
  justify-self: end;
  align-self: start;
}

.header__rec {
  display: var(--rec-display);
  block-size: 26px;
  position: absolute;
  right: 50px;
  top: 20px;
}

.header__rec-text {
  font-family: 'IBM Plex Mono', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  text-align: center;
  color: var(--header-menu-color);
  margin: 0;
}

.header__rec-text::after {
  position: absolute;
  content: '';
  border-radius: 50%;
  background-color: currentColor;
  inline-size: 9px;
  block-size: 9px;
  top: calc((100% - 9px) / 2);
  left: calc(100% + 10px);
}


.main {
  display: flex;
  flex-direction: column;
  font-family: 'IBM Plex Mono', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 23.4px;
  text-align: left;
  color: var(--main-text-color);
}

.text_in_box {
  font-family: 'IBM Plex Mono', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px;
  margin: 0;
  background-color: var(--box-color);
  color: var(--header-description-text-color);
}

.main__h2 {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  text-align: inherit;
  font-weight: 700;
  color: var(--header-menu-color);
  margin-block: 0;
}

.main__h4 {
  font-weight: inherit;
}

.main__section {
  display: grid;
  gap: 20px;
}

.link {
  text-shadow: 2px 2px 0 var(--box-color);
  text-decoration: none;
}

.link:link {
  color: var(--main-text-color);
}

.link:visited {
  color: var(--main-text-color);
}

.link:hover {
  border-block-end: 1px solid currentColor;
}

.link:focus-visible {
  outline: 1px solid currentColor;
}

.sunset {
  grid-area: sunset;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.ice-cream {
  grid-area: ice-cream;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.books {
  grid-area: books;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.tape {
  grid-area: tape;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.street {
  grid-area: street;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.footer {
  position: relative;
  block-size: max(100vh, 500px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.section__text {
  margin-block-start: 10px;
}

@media (width >= 1024px) {
  .decrease-in-concentration {
    grid-template-columns: repeat(3, calc((100% - 20px * 2) / 3));
  }

  .header__theme-menu {
    justify-self: center;
    margin-inline-end: 20px;
  }

  .header {
    grid-template-rows: 2.5fr 2fr 1.6fr;
  }

    
  .concentration {
    grid-template-columns: calc((100% - 40px) / 3) auto;
  }
}

@media (width < 1024px) {
  .decrease-in-concentration {
    grid-template-columns: 100%;
  }

  .header__theme-menu {
    justify-self: end;
    align-self: center;
    margin-block-start: 10px;
  }

  .header__theme-menu-list {
    flex-direction: column;
    gap: 10px;
    margin-inline-end: 20px;
  }

  .header {
    grid-template-rows: 3fr 1.7fr 2fr;
  }

    
  .concentration {
    grid-template-columns: calc((100% - 20px) / 3) auto;
  }
}

@media (width >= 768px) {
  .image__section {
    display: grid;
    margin-block-start: 20px;
    gap: 20px;
    width: 100%;
    grid-template-areas:
    "sunset sunset ice-cream"
    "tape books ice-cream"
    "tape street street"
  }

  .big_text {
      font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .main {
    margin-inline: 20px;
  }

  .page {
    gap: 60px;
  }

  .main {
    gap: 80px;
  }

  .header__description {
    inline-size: calc((100% - 40px) / 2);
  }

  .decrease-in-concentration-title {
    inline-size: calc(100% / 3 - 20px) ;
  }

  .header__description {
    margin-inline-end: 20px;
  }
}

@media (width < 768px) {
  .image__section {
    display: flex;
    margin-block-start: 10px;
    gap: 10px;
    flex-direction: column;
  }

  .big_text {
      font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem)
  }

  .concentration {
    grid-template-columns: 100%;
  }

  .main {
    margin-inline: 10px;
  }

  .page {
    gap: 40px;
  }

  .main {
    gap: 50px;
  }

  .header__description {
    inline-size: calc(100% - 20px);
    margin-inline: 10px;
  }

  .decrease-in-concentration-title {
    inline-size: 100%;
  }

  .header__theme-menu-list {
    margin-block-start: 5px;
    margin-inline-end: 10px;
  }

  .decorated-zone::before {
    right:10px;
    top: 10px;
  }
  
  .decorated-zone::after {
    left: 10px;
    bottom: 10px;
  }

  .header__rec {
    right: 40px;
    top: 10px;
  }

  .header {
    grid-template-rows: 2fr 2.1fr 1.5fr;
  }

  .title {
    margin-inline-start: 10px;
  }
} 



